@import url('https://fonts.googleapis.com/css?family=Raleway');


body {
  background-color: #262329;
  font-family: 'Raleway', sans-serif;
  color: #91849e;
}


table {
  border-collapse: collapse;
}

#game {
  text-align: center;
}

#board {
  margin: auto;
}

h1 {
  padding: 30px 0;
}


.square {
  height: 10px;
  width: 10px;
}

.empty {
  background-color: #1c1919;
}

.apple {
  background-color: #1c565f;
}

.snake-body {
  background: #e3e3e3;
}

.score {
  padding: 20px 0;
  font-size: 20px;
}
