body {
  background-color: #
}


table {
  border-collapse: collapse;
}

#game {
  text-align: center;
}

#board {
  margin: auto;
}


.square {
  height: 10px;
  width: 10px;
}

.empty {
  background-color: #e3e3e3;
}

.apple {
  background-color: blue;
}

.snake-body {
  background: linear-gradient(135deg, rgb(30,87,153) 0%, rgb(51,8,49) 100%);
}
